
<div class="loginbody">
    <form class="loginForm">
        <div class="formHeader">
            <h1> Login! </h1>
        </div>
        <div class="formField">
            <div class="formL">
                <label> Username: </label>
            </div>
            <div class="formI">
                <input type="text" placeHolder="username" class="formText">
            </div>
        </div>
        <div class="formField">
            <div class="formL">
                <label> Password: </label>
            </div>
            <div class="formI">
                <input type="password" placeHolder="password" class="formText">
            </div>
        </div>
        <div class="formField">
            <button type="submit" class="formSub">Submit!</button>
        </div>
    </form>
</div>