<div class="pageHeading">
  <h1> Chivalry Sec</h1>
  <h2>The password Manager of Today</h2>
  <div class="binAnim ba1">
    <div class="bin"> 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0</div>
    <div class="bin"> 1 0 1 0 1 0 1 0 0 1 0 0 0 1 0 0</div>
    <div class="bin"> 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 1 0 1 0 1 0 1 0 0 1 1 1 0 1 1 1 </div>
  </div>
  <div class="binAnim ba2">
    <div class="bin"> 1 0 1 0 1 0 0 0 1 1 1 1 0 0 1 1</div>
    <div class="bin"> 0 0 0 1 0 0 0 1 0 0 1 1 1 0 1 0</div>
    <div class="bin"> 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 1 0 1 0 1 0 1 0 0 1 1 1 0 1 1 1 </div>
  </div>
  <div class="binAnim ba3">
    <div class="bin"> 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1</div>
    <div class="bin"> 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0</div>
    <div class="bin"> 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 1 0 1 0 1 0 1 0 0 1 1 1 0 1 1 1 </div>
  </div>
  <div class="binAnim2 b1">
    <div class="bin"> 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0</div>
    <div class="bin"> 1 0 1 0 1 0 1 0 0 1 0 0 0 1 0 0</div>
    <div class="bin"> 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 1 0 1 0 1 0 1 0 0 1 1 1 0 1 1 1 </div>
  </div>
  <div class="binAnim2 b2">
    <div class="bin"> 1 0 1 0 1 0 0 0 1 1 1 1 0 0 1 1</div>
    <div class="bin"> 0 0 0 1 0 0 0 1 0 0 1 1 1 0 1 0</div>
    <div class="bin"> 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 1 0 1 0 1 0 1 0 0 1 1 1 0 1 1 1 </div>
  </div>
  <div class="binAnim2 b3">
    <div class="bin"> 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1</div>
    <div class="bin"> 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0</div>
    <div class="bin"> 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1</div>
    <div class="bin"> 1 0 1 0 1 0 1 0 0 1 1 1 0 1 1 1 </div>
  </div>
</div>

<div class="pageBody">
  <div class="myNav">
    <div class="navButton" routerLink="">
      Home
    </div>
    <div class="navButton" routerLink="login">
      Login
    </div>
    <div class="navButton" routerLink="register">
      Sign-Up
    </div>
    <div class="navButton" routerLink="about">
      About
    </div>
    <div class="navButton" routerLink="contact">
      Contact
    </div>
  </div>
  <div class="pageContent">
    
    <router-outlet></router-outlet>
  </div>
</div>